@using GestionCegepWeb.Models
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    @*Affichage de la liste des cégeps...*@
    <br>
    <h3>Sélectionner un Cégep :</h3>
    <br>
    
    <select id="departement" name="departementListe">

        @foreach (CegepDTO cegep in ViewBag.ListeCegeps)
        {
            <option value="nomCegep">@cegep.Nom</option>
        }
    </select>

}